* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}
body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  padding: 2rem 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#searchInput {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.seach-input:focus {
  outline: none;
  border-color: #6fb1f8;
}

#searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin: 0 auto;
  padding: 1.25rem;
  border-top: solid 1.75px #555;
  border-bottom: solid 1.75px #555;
}

#searchButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background-color: #555;
}

#previousSearchContainer {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  flex-wrap: wrap;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.previous-search {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  border: solid 2px #555;
  background-color: white;
  text-decoration: none;
}

#photoGroupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0.25rem;
}
.photo-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.photo-group-header {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -1rem;
  left: -1rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.photo-container:hover .photo {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

.photo {
  height: 300px;
  margin: 0.5rem;
}

.photo:hover .photo-description {
  transform: opacity(1);
  transition: transform 0.5s ease-in;
}

.photo-overlay-container {
  position: relative;
  display: inline-block;
}

.photo-description {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #e1e1e153;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.photo-description:hover {
  transition-delay: 2s;
  opacity: 1;
  font-size: 0.75rem;
  transition: all 1s ease-in-out;
}

.photo-credit {
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  color: #333;
}
