* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#searchInput {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.seach-input:focus {
  outline: none;
  border-color: #6fb1f8;
}

#searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

#searchButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background-color: #555;
}

#photosContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.25rem;
}
.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
.photo-container:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}
.photo-container:hover .photo {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.photo {
  width: 200px;
  margin: 0.5rem;
}
.photo:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.photo-description {
  font-size: 0rem;
  text-align: center;
  margin: 0.5rem 0;
  color: #555;
  font-style: italic;
  opacity: 0;
  transition: all 0.75s ease;
}

.photo:hover ~ .photo-description {
  display: block;
  opacity: 1;
  font-size: 0.75rem;
  transition-delay: 0.4s;
}

.photo-credit {
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  color: #333;
}
